<div class="line">
    <nav class="primary" id="mainNavigation">
        <ul class="inline">
            <li><a class="navLink first selected" href="/">Project home</a></li>
            <li><a class="navLink" href="/djfacet">Search home</a></li>
            <li><a class="navLink" href="http://michelepasin.org/support/djfacet/docs/" target="_blank">Online Docs</a></li>
            <li><a class="navLink last" href="https://bitbucket.org/magicrebirth/djfacet" target="_blank">Source Code</a></li>
        </ul>
    </nav>
</div><!-- end line for navigation -->