<footer class="line footerSection">
	<ul class="inline">
        <li><a class="navLink first selected" href="/">Project home</a></li>
        <li><a class="navLink" href="/djfacet">Search home</a></li>
        <li><a class="navLink" href="http://michelepasin.org/support/djfacet/docs/" target="_blank">Online Docs</a></li>
        <li><a class="navLink last" href="https://bitbucket.org/magicrebirth/djfacet" target="_blank">Source Code</a></li>
    </ul>

	<br />
	<hr />
    <small style="color: orange;">Created by <a href="http://www.michelepasin.org" target="_blank">Michele Pasin</a> with input from several colleagues at <a href="http://www.kcl.ac.uk/artshums/depts/ddh/index.aspx">DDH</a>, King's College, London.</small>
    
</footer>